# include Makefiles, exclude other files with no identifier
*
!Makefile
!/**/
!*.*

# exclude vim .swp files
*.swp

# exclude whatever these files are
.nfs* 

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
